<ifModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

ErrorDocument 404 /
ErrorDocument 500 /

</ifModule>

RewriteEngine on 

RewriteRule ^config(|/)$ config.class.php

RewriteRule ^(|/)$ ./index.php
RewriteRule ^t(|/)$ ./index.php?token=true


RewriteRule ^cadastro(.*)$ cadastro.php
RewriteRule ^enviarcontato(.*)$ post.php?contato=enviar

RewriteRule ^estado/(.*)$ api/json/estados-cidades.json
RewriteRule ^api/maps.xml(.*)$ api/marcadores/maps.xml.php

RewriteRule ^confirmarcadastropf(.*)$ post.php?cadastro=pf
RewriteRule ^confirmarcadastropj(.*)$ post.php?cadastro=pj
RewriteRule ^esqueciasenha(.*)$ post.php?senha=esqueci
RewriteRule ^resetarsenha(.*)$ post.php?senha=token

RewriteRule ^logar(.*)$ post.php?login=entrar
RewriteRule ^fblogar(.*)$ post.php?login=fb