<ifModule mod_rewrite.c>
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

ErrorDocument 404 /
ErrorDocument 500 /

</ifModule>

RewriteEngine on 

RewriteRule ^config(|/)$ config.class.php

RewriteRule ^(|/)$ ./index.php
RewriteRule ^cadastro(.*)$ cadastro.php
RewriteRule ^enviarcontato(.*)$ post.php?contato=enviar

RewriteRule ^estado/(.*)$ api/json/estados-cidades.json

RewriteRule ^facebook(.*)$ api/Facebook/
RewriteRule ^loginfb(.*)$ post.php?fb=login