/* Font Icons from WeLoveIconFonts */
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* ClearFix Hack */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/* For IE 6/7 only */
.cf { *zoom: 1; }


/* --------------------------
Customized CSS
---------------------------*/

.wrapper {
  width: 820px;
  margin: 0 auto;
  padding: 0;
}

.wrapper > li {
  display: inline;
  margin: 0;
}

.about {
  margin: 0 auto;
  padding: 0;
  line-height: 1.5em;
  font-size: 1.1em;
  width: 640px;
  color: #FFF;
  text-align: center;
}

/* Box Styling */

.info-box {
  /*margin: 50px auto;*/
  margin-bottom: 1.5%;
  padding: 0;
  /*width: 100%;*/
 	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.info-box h4, .info-box > .info-content > .text {
  background-color: #A52A2A;
}

.info-box h4 {
  padding: 20px;
  font-size: 2em;
  font-weight: 400;
  color: #FFF;
  margin: 0px;
 
}

.info-box > .info-content > .text {
  padding: 0px;
  font-size: 1em;
  line-height: 1.5em;
  height: 0;
  color: #FFF;
  overflow: hidden;
  -webkit-transition:  height 200ms ease;  
     -moz-transition:  height 200ms ease;  
       -o-transition:  height 200ms ease;  
          transition:  height 200ms ease;
}

.info-box > .info-content > .text > p {
  padding: 20px 20px 60px;
}

.info-box > .info-content > .text {
  background-color: #FFF;
  color: #444;
  border-radius: 0;
}

