<ifModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

ErrorDocument 404 /painel/
ErrorDocument 500 /painel/

</ifModule>

RewriteEngine on 

RewriteRule ^(|/)$ index.php
RewriteRule ^perfil(.*)$ perfil.php
RewriteRule ^cronograma(.*)$ cronograma.php
RewriteRule ^requisicao/novo(.*)$ requisicao_novo.php
RewriteRule ^requisicao/meus(.*)$ requisicao_meus.php
RewriteRule ^logout(.*)$ ../post.php?login=logout
RewriteRule ^solicitar(.*)$ ../post.php?requisicao=enviar
RewriteRule ^remover_requisicao(.*)$ ../post.php?requisicao=remover
RewriteRule ^pesquisar_requisicoes(.*)$ ../post.php?requisicao=filtrar

